@page "/"


<section class="blazra" id="sec-6b46">
    <div class="body">
        <div class="h12">
            <div class="blayz">
                <h1 class="home-title">OOPdiner</h1>
                <p class ="groupint">Group 1: Abdul Al Shami, Mark Morelos, Taha Gillani, John Vincent Manio </p>
            </div>
        </div>
    </div>
</section>

