@page "/menu"
<section class="Menu" id="Menu">
	<h2 class="title">Menu Options</h2>
	<div class="content">
		<div class="project-card">
			<div class="project-image">
				<img src="images/Burger.jpg" alt="Burger">
			</div>
			<div class="project-info">
				<strong class="project-category">Deluxe Beef Burger</strong>
				<strong class="price">Price: $5.00</strong>
				<p class="description">A beef burger is a sandwich made with a ground beef patty, typically served on a bun and often topped with cheese, lettuce, tomato, and condiments such as ketchup and mustard.</p>
			</div>
		</div>
		&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
		<div class="project-card">
			<div class="project-image">
				<img src="images/Noodles.jpg" alt="Noodles">
			</div>
			<div class="project-info">
				<strong class="project-category">Spicy Noodles</strong>
				<strong class="price">Price: $8.00</strong>
				<p class="description">Spicy Ramen Noodles with beef broth</p>
			</div>
		</div>
		&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
		<div class="project-card">
			<div class="project-image">
				<img src="images/Rice.jpg" />
			</div>
			<div class="project-info">
				<strong class="project-category">White Rice</strong>
				<strong class="price">Price: $12.00</strong>
				<p class="description">Basmati White Rice with fresh organic rice</p>
			</div>
		</div>
		&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
		<div class="project-card">
			<div class="project-image">
				<img src="images/Soup.jpg" />
			</div>
			<div class="project-info">
				<strong class="project-category">Vegetable Soup</strong>
				<strong class="price">Price: $5.00</strong>
				<p class="description">Vegetable Soup with broccoli, green peas, baby corn, salted, potatoes, and more</p>
			</div>
		</div>
		&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
		<div class="project-card">
			<div class="project-image">
				<img src="images/Fries.jpg" />
			</div>
			<div class="project-info">
				<strong class="project-category">French Fries</strong>
				<strong class="price">Price: $5.00</strong>
				<p class="description">Fried French Fries made from fresh local potatoes</p>
			</div>
		</div>
		&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
		<h3 class="title">Beverages Menu</h3>
		<div class="content">
			<div class="project-card">
				<div class="project-image">
					<img src="images/coke.jpg" alt="Coke">
				</div>
				<div class="project-info">
					<strong class="project-category"> Coke</strong>
					<strong class="price">Price: $2.00</strong>
					<p class="description">Regular Coke <strong>591 ml</strong></p>
				</div>
			</div>
			&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
			<div class="project-card">
				<div class="project-image">
					<img src="images/crush.jpg" />
				</div>
				<div class="project-info">
					<strong class="project-category">Orange Crush</strong>
					<strong class="price">Price: $2.00</strong>
					<p class="description">Regular sized Orange Crush <strong>591 ml</strong></p>
				</div>
			</div>



			&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
			<div class="project-card">
				<div class="project-image">
					<img src="images/sprite.jpg" />
				</div>
				<div class="project-info">
					<strong class="project-category"> Lemon Sprite</strong>
					<strong class="price">Price: $2.00</strong>
					<p class="description">Regular sized Lemon Sprite <strong>591 ml</strong></p>
				</div>
			</div>



			&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
			<div class="project-card">
				<div class="project-image">
					<img src="images/brisk.jpg" />
				</div>
				<div class="project-info">
					<strong class="project-category"> Brisk</strong>
					<strong class="price">Price: $2.00</strong>
					<p class="description">Regular sized Brisk <strong>591 ml</strong></p>
				</div>
			</div>









		</div>
	</div>
</section>

@code {

}
